body {
    text-align: left;
    font-family: 'arial';
    background: white;
    color: rgb(15, 80, 36);
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #9ac97d;
  padding: 20px 10px;
}

.logo{
    transform: rotate(90deg);
}
/* Style the header links */
.header a {
  float: left;
  color: #f7ecb7;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 4px;
}

.header input[type=text] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  background-color: #9ac97d;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: pink;
  color: white;
}

/* Style the active/current link*/
.header a.active {
  background-color: coral;
  color: #f7ecb7;
  font-weight: bold;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}





.right-sidebar {
    float: right;
    width: 25%;
    background-color: #f9f9f9;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}
